APP_ENV=dev
PAYMENT_CENTER_NAME=payment-center
PAYMENT_CENTER_ADDR=:8080
DB_DSN=root:root@tcp(127.0.0.1:3306)/payment_center?charset=utf8mb4&parseTime=true&loc=Local
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
